.calendar {
    display: flex;
    flex-flow: column;
}
.calendar .header .month-year {
    font-size: 1.5rem;
    font-weight: bold;
    color: #212529;
    padding: 20px 0;
    text-align: center;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #ffffff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    color: #818589;
    color: #fff;
    background-color: #212529;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 5px;
    color: #7c878d;
    cursor: pointer;
    min-height: 110px;
}

.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #f7c30d;
    color: #fff;
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.red {
    background-color: #ce5151;
}
.calendar .days .day_num .event.video_conference {
    background-color: #00dba8;
}
.calendar .days .day_num .event.quiz {
    background-color: #9600db;
}
.calendar .days .day_num .event.homework {
    background-color: #ff6200;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
}
.circle-button {
  background-color: #f7c30d;
  border: none;
  padding: 15px;
  margin: 4px 2px;
  border-radius: 50%;
}
.circle-button.green {
    background-color: #51ce57;
}
.circle-button.blue {
    background-color: #518fce;
}
.circle-button.red {
    background-color: #ce5151;
}

.event {
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    padding: 1px 30px;
    border-radius: 5px;
    background-color: #f7c30d;
    color: #fff;
}
.event.green {
    background-color: #51ce57;
}
.event.blue {
    background-color: #518fce;
}
.event.red {
    background-color: #ce5151;
}
.event.video_conference {
    background-color: #00dba8;
}
.event.quiz {
    background-color: #9600db;
}
.event.homework {
    background-color: #ff6200;
}